/* Makes page fill the window. */
html,
body {
  background-image: url('../assets/netzero_map.png');
  background-size:100%;
  background-position-x: 100px;
  background-position-y: 80px; 
  height: 100%;
  width: 100;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Krona One', sans-serif;
}

#overlay {
  opacity: 0.0;
  background-color: red;
  top: 15%;
  left: 20%;
  height: 100%;
  width: 100%;
  position: fixed;
}

/* Policy sidebar */
#policy-sidebar {
  background: rgb(200, 230, 252);
  height: 75%;
  width: 20%;
  overflow: scroll;
  padding-bottom: 5%;
  /* padding-top: 2%; */
}

.policyButton {
  width: 100%;
  margin: 0.25em 0em 0.25em 0em; /* top right bottom left */
}
.policy {
  width: 100%;
  background: rgb(90, 161, 226);
  /* border-style: solid;
  border-width: 0.25em; */
}
.research {
  background: rgb(90, 161, 226);
}
.law {
  background: rgb(240, 207, 105);
}
.initiative {
  background: rgb(235, 118, 95);
}

/* time and temp indicator bar styling */
#tbar {
  height: 100%;
  width: 8%;
  font-size: 13px;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  background-color: rgb(50, 80, 163);
  box-sizing: border-box;
}
#tempbar {
  height: 100%;
  width: 20%;
  font-size: 13px;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  background-color: green;
  box-sizing: border-box;
}

#date {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Krona One', sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
}

#temp {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Krona One', sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
}

/* title styling*/
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Krona One', sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  color: white;
  background: rgb(7, 20, 46);
  height: 60px;
}

/* title styling*/
#policiestitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Krona One', sans-serif;
  font-size: 1.5em;
  color: white;
  background: rgb(7, 20, 46);
  height: 50px;
  width: 20%;
}

/* fast forward button */
#fast {
  float: right;
  background-color: gray;
  height: 7%;
  width: 5%;
}

#fast-button {
  background-color: rgb(158, 219, 247); /* rgb(67, 149, 208); */
  width: 100%;
  height: 100%;
  padding: 0em 0em 0em 0em;   
  z-index: 1;
  position: relative;
}

#fast-button img {
  width: 100%;
  height: 100%;
}
 
.bigbtn {
  margin: 10px; 
  font-size: 1.5em;
  font-family: 'Krona One', sans-serif;
  white-space: nowrap;
  background-color: rgb(158, 219, 247);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 5px 5px #999;
}
.bigbtn:hover {
  background-color: rgb(96, 190, 233);
  cursor: pointer;
}
.bigbtn:active {
  background-color: rgb(96, 190, 233);
  box-shadow: 2px 2px #666;
  transform: translate(2px, 2px);
}

/* help window styling */
#helpwindow { display: block; }

.modal {
  display: none; /* closed by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalwindow {
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  height: auto;
  width: 80%;
  z-index: 1;
  background-color: white;
  overflow-x: hidden;
}

.modalwindow h1 {
  display: flex;
  justify-content: center;
  font-family: "Krona One", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin: 10px;
  letter-spacing: 3px;
}

.modalwindow p {
  margin-left: 20px;
  font-size: 1.5em;
  margin-bottom: 0px;
}
