/* Makes page fill the window. */
html,
body {
  background-image: url('../assets/netzero_map.png');
  background-size:100%;
  background-position-x: 100px;
  background-position-y: 80px; 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Krona One', sans-serif;
}

/* Policy sidebar */
#policy-sidebar {
  background: gray;
  height: 100%;
  width: 20%;
  overflow: scroll;
}

.policyButton {
  width: 100%;
  margin: 0.25em 0em 0.25em 0em; /* top right bottom left */
}
.policy {
  width: 100%;
  background: rgb(90, 161, 226);
  /* border-style: solid;
  border-width: 0.25em; */
}
.research {
  background: rgb(90, 161, 226);
}
.law {
  background: rgb(240, 207, 105);
}
.initiative {
  background: rgb(235, 118, 95);
}

#resources {
  width: 100%;
  background: rgb(92, 172, 215);
  display: flex;
  justify-content: space-around;
}

#date-wrapper {
  background: rgb(28, 100, 152);
  padding-left: 20px;
  padding-right: 20px;
}
#date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Krona One', sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

#temp-wrapper {
  background: rgb(152, 28, 28);
  padding-left: 20px;
  padding-right: 20px;
}
#temp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Krona One', sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

/* title styling*/
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Krona One', sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  background: rgb(28, 100, 152);
  height: 60px;
}

/* title styling*/
#policiestitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Krona One', sans-serif;
  font-size: 1.5em;
  background: rgb(67, 149, 208);
  height: 50px;
}

/* fast forward button */
#fast {
  float: right;
  background-color: gray;
  height: 7%;
  width: 5%;
}

#fast-button {
  background-color: rgb(67, 149, 208);
  width: 100%;
  height: 100%;
  padding: 0em 0em 0em 0em;   
}

#fast-button img {
  width: 100%;
  height: 100%;
}

/* tool window styling*/
    .tool {
      height: auto;
      width: 300px;
      margin-right: 50px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0px;
      background-color: white;
      overflow-x: hidden;
    }

    .label {
      color: white;
      font-family: 'Oswald', sans-serif;
      font-size: 19px;
      padding: 2px 15px 2px 15px;
      background-color:rgb(90, 161, 226);
      letter-spacing: 1px;
    }
    .tool h1 {
      display: flex;
      justify-content: center;
      font-family: "Prompt", sans-serif;
      font-weight: 700;
      font-size: 2em;
      margin: 8px;
      margin-bottom: 0px;
      letter-spacing: 7px;
    }
    .tool p {
      margin-left: 20px;
      font-size: 1em;
    }
    
    .bigbtn {
      margin: 10px; 
      font-size: 5em;
      font-family: 'Krona One', sans-serif;
      white-space: nowrap;
      background-color: rgb(158, 219, 247);
      border: none;
      padding: 10px 30px;
      border-radius: 5px;
      transition-duration: 0.4s;
      cursor: pointer;
      box-shadow: 5px 5px #999;
    }
    .bigbtn:hover {
      background-color: rgb(96, 190, 233);
      cursor: pointer;
    }
    .bigbtn:active {
      background-color: rgb(96, 190, 233);
      box-shadow: 2px 2px #666;
      transform: translate(2px, 2px);
    }
    #start {
      font-size: 18px;
    }
    #play {
      font-size: 25px;
    }

/* help window styling */
    /* The Modal (background) */
    #helpwindow { display: block; }
    
    .modal {
      display: none; /* closed by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modalwindow {
      margin: 5% auto; /* 15% from the top and centered */
      padding: 20px;
      height: auto;
      width: 80%;
      z-index: 1;
      background-color: white;
      overflow-x: hidden;
    }

    .modalwindow h1 {
      display: flex;
      justify-content: center;
      font-family: "Krona One", sans-serif;
      font-weight: 700;
      font-size: 2em;
      margin: 10px;
      letter-spacing: 3px;
    }

    .modalwindow p {
      margin-left: 20px;
      font-size: 1.5em;
      margin-bottom: 0px;
    }
    
    @keyframes pulse {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(226, 87, 76, 0.7);
      }
    
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
    
      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }